:root{
    --color-bg: #3A4663;
    --color-primary: #242D44;
    --color-button-bg: #E6E6E6;
    --color-equal-bg: #D03F2F;
    --color-equal-bg-hover:#F96B5B;
    --color-digit: #434A59;
    --color-reset-del: #647198;
    --color-reset-del-hover: #A2B2E1;
    --color-display-bg: #181F33;
    --color-display-text: #FFFFFF;
    --color-header-text: #FFFFFF;



    --purple800: ;
    --purple700: #6C34AC;
    --navy950: #181F33;
    --blue950: #1A2327;
    --font-family: "League Spartan", sans-serif;
}


.theme1{
    --color-bg: #3A4663;
    --color-primary: #242D44;
    --color-button-bg: #E6E6E6;
    --color-equal-bg: #D03F2F;
    --color-equal-bg-hover:#F96B5B;
    --color-digit: #434A59;
    --color-reset-del: #647198;
    --color-reset-del-hover: #A2B2E1;
    --color-display-bg: #181F33;
    --color-display-text: #FFFFFF;
    --color-header-text: #FFFFFF;
    --color-shadow-small-button: #979797;
    --color-shadow-del-button: #363d53;
    --color-shadow-reset-button: #363d53;
    --color-shadow-equal-button: #a13124;

}

.theme2{
    --color-bg: #E6E6E6;
    --color-primary: #D2CDCD;
    --color-button-bg: #E6E6E6;
    --color-equal-bg: #C85402;
    --color-equal-bg-hover:#FF8A38;
    --color-digit: #000000;
    --color-reset-del: #378187;
    --color-reset-del-hover:#62B5BC;
    --color-display-bg: #EEEEEE;
    --color-display-text: #000000;
    --color-header-text: #000000;
    --color-shadow-small-button: #979797;
    --color-shadow-del-button: #307379;
    --color-shadow-reset-button: #307379;
    --color-shadow-equal-button: #79241a;
}

.theme3{
    --color-bg: #17062A;
    --color-primary: #1E0936;
    --color-button-bg: #331C4D;
    --color-equal-bg: #00DED0;
    --color-equal-bg-hover:#93FFF8;
    --color-digit: #FFE53D;
    --color-reset-del: #56077C;
    --color-reset-del-hover: #8631AF;
    --color-display-bg: #1E0936;
    --color-display-text: #FFE53D;
    --color-header-text: #FFE53D;
    --color-shadow-small-button: #979797;
    --color-shadow-del-button: #460664;
    --color-shadow-reset-button: #460664;
    --color-shadow-equal-button: #01bdb0;
}      


body{
    margin: 0 auto;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    transition: 0.5s ease-in-out;
}

button{
    cursor: pointer;
}

header{
    min-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: clamp(1.8rem, 3vw, 2rem);
    font-weight: 800;
    color: var(--color-display-text);
}

.theme_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.theme_numbers{
    color: var(--color-display-text);
    position: absolute;
    top: -120%;
    right: 5%;
    width: 3rem;
    letter-spacing: 0.2rem;
}

label{
    color: var(--color-display-text);
    font-size: 0.8rem;
    margin-right: 1rem;
}

#theme{
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 1.5rem;
    background: var(--color-primary);
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 5px ;
}

#theme::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    background-color: var(--color-equal-bg);
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.display_screen{
    min-width: 18rem;
    min-height: 5.5rem;
    background-color: var(--color-display-bg);
    color: var(--color-display-text);
    margin: 0 0 1.5rem 0;
    border-radius: 10px;
}

.keys_div{
    background-color: var(--color-primary);
    padding: 1.5rem 1rem 2rem 1.5rem;
    min-width: 18rem;
    max-height: 30rem;
    border-radius: 10px;
    display: grid;
    gap: 1.1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.small_button{
    background-color: var(--color-button-bg);
    color: var(--color-digit); 
    min-width: 3.75rem;
    min-height: 3.75rem;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 4px 0px var(--color-shadow-small-button);
}

.del_button{
    font-size: 1.3rem;
    color: var(--color-button-bg);
    background-color: var(--color-reset-del);
    box-shadow: 0px 4px 0px var(--color-shadow-del-button);
}

.large_button{
    min-width: 8.5rem;
}

.reset_button, .equal_button{
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.2s ease-out;
}

.reset_button:hover, .del_button:hover{
    background-color: var(--color-reset-del-hover);
}

.reset_button{
    grid-column: 1/3;
    font-size: 1.3rem;
    color: var(--color-button-bg);
    background-color: var(--color-reset-del);
    box-shadow: 0px 4px 0px var(--color-shadow-reset-button);
}

.equal_button{
    grid-column: 3/-1;
    font-size: 1.4rem;
    color: var(--color-button-bg);
    background-color: var(--color-equal-bg);
    box-shadow: 0px 4px 0px var(--color-shadow-equal-button);
}

.equal_button:hover{
    background-color: var(--color-equal-bg-hover);
}